doctype html
html
    head
        title='fe运营管理'
        script.
            alert(0);
    body
        ul
            each row , i in rows
                li
                    each rowItem , key in row
                        span #{rowItem}
